* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}


/* header styling */
header {
    background-color: #333;
    color: white;
    padding: 1rem;
}

header h1 {
    margin-bottom: 1rem;
}

/* nav link styling  */
nav a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color: #555;
    border-radius: 5px;
} 



/* hero section styling */

.hero {
    background-color: #4CAF50;
    color: white;
    padding: 4rem 2rem;
    text-align: center;
}

.hero h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}




